<ion-header no-border>
    <ion-toolbar no-border>
        <ion-title style=" color: #3B455A;font-size: 24px;font-weight: bold;text-align: center">
            Inicio
        </ion-title>
        <ion-buttons (click)="gotoprofile()" slot="start">
            <ion-icon size="large" src="/assets/icons/avatar.svg" padding></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon size="large" src="/assets/icons/settings-work-tool (1).svg" (click)="presentModal()" padding></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <h1> </h1>

</ion-content>