<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons (click)="gotomain()" slot="start">
            <ion-icon size="large" src="/assets/icons/left-arrow.svg" padding></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon size="large" src="/assets/icons/add.svg" padding></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <img *ngIf="(profiledata)?.length === 0 " class="circle" src="assets/icons/user.svg">
    <div *ngIf="userprofile" class="noprofile">
        <h3 *ngIf="(profiledata)?.length === 0 ">Perfil vacío rellenalo ya!</h3>
        <ion-button (click)="gotoedit()" *ngIf="(profiledata)?.length === 0 ">Rellenar</ion-button>
    </div>
    <div *ngFor="let item of profiledata">
        <img *ngIf="item.img" class="circle" [src]="item.img">


        <h2 color="secondary">{{ item.nombre }}</h2>
        <br>
        <br>
        <h3>Contacto</h3>
        <ion-row>
            <ion-col size="4">
                <ion-icon (click)="gotowhatsapp(item.whatsapp)" style=" font-size: 22px;" src="assets/icons/whatsap.svg"></ion-icon>
            </ion-col>
            <ion-col class="ubication" size="6">
                <ion-icon style=" font-size: 25px;" src="assets/icons/placeholder.svg"></ion-icon>
                {{ item.ubication }}
            </ion-col>
            <ion-col *ngIf="userprofile" size="2">
                <ion-icon style=" font-size: 29px;margin-top:-15px;" src="/assets/icons/settings-work-tool (1).svg" padding (click)="gotoedit()"></ion-icon>
            </ion-col>

        </ion-row>

        <h3>Trayectos</h3>
        <br>
        <div class="noprofile" *ngIf="(profiletrayectos)?.length === 0 ">
            <img class="notrayect" src="assets/icons/car.svg">
            <h3 style="color: #E45454;" class="notrayecto">Aun no tiene ningun trayecto!</h3>
        </div>
        <br>
        <ion-card *ngFor="let item of profiletrayectos">
            <ion-card-content style="height: 110px;border-radius: 100px!important">
                <ion-row class="carta">
                    <ion-col size="5">
                        {{ item.inicio }}
                    </ion-col>
                    <ion-col size="2">
                        <ion-icon style=" font-size: 25px;color: #3B455A" src="assets/icons/right-arrow.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="5">
                        {{ item.destino }}
                    </ion-col>

                </ion-row>

                <ion-row class="cartadesc">
                    <ion-col size="5">
                        {{ item.hora }} Salida
                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col style="font-size: 12px;text-align: center" size="3">
                        {{ item.asientos }} <br>Asientos
                    </ion-col>
                    <ion-col size="2">
                        <br>
                        <ion-icon style=" font-size: 45px;color: #3B455A;margin-bottom: 0%;" src='assets/icons/{{ item.vehiculo }}.svg'></ion-icon>
                    </ion-col>

                </ion-row>

                <ion-row class="cartaicon">
                    <ion-col size="10">

                    </ion-col>



                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>